# geo0930: Insert time series into PostgreSQL/PostGIS and join it with the station info geodata.

The main idea behind this activity is to reformat and merge time series (here we use hourly precipitation) as well as weather station information from the DWD Climate Data Center in such a way that it can be used with the **QGIS TimeManager extension**. But this time the **join** of station info geodata and time series are performed in **PostgreSQL/PostGIS** instead of Pandas and CSV file.

**UPDATE: The QGIS TimeManager extension is deprecated!** Nevertheless the principle of merging (joining) static location and time varying weather data (temperature, precipitation, etc.) is the same for the **new way to handle time dependent geodata in QGIS.**

Below you find the description of how to manage time dependent data with the deprecated TimeManager. This can be transferred to the new QGIS time handling.

The TimeManager allows to filter an attribute table of a vector layer (e.g. points representing precipitation stations plus precipitation data) with a time stamp column. The extension limits the attribute table to the records matching the particular time stamp provided by the time manager extension (e.g. by the user moving the time slider). This selected subset of the attribute table is then used to change the sympology of the vector layer according to the variable of interest (e.g. precipitation rate).

This relation created by joining station info geodata with time series is a 1:N relationship: 1 station has N measurements values. They can be distinguished by timestamp. Technically the primary key for that relation consists of the two attributes (station_id, timestamp). 

The final data format is a concatenation of time series together with geographic location in 2D (e.g. lat, lon). The required data format looks principly like this:


| station_id |        name        |   lat   |   lon  |        meas_time       | prec_rate |
|:----------:|:------------------:|:-------:|:------:|:----------------------:|:---------:|
|        ... | ...                |     ... |    ... |                    ... |       ... |
|       1595 | Gelsenkirchen-Buer | 51.5762 | 7.0652 | 2018-12-07T08:00:00UTC |       1.5 |
|       1595 | Gelsenkirchen-Buer | 51.5762 | 7.0652 | 2018-12-07T09:00:00UTC |       1.7 |
|       1595 | Gelsenkirchen-Buer | 51.5762 | 7.0652 | 2018-12-07T10:00:00UTC |       0.1 |
|        ... | ...                |     ... |    ... |                    ... |       ... |
|      13670 | Duisburg-Baerl     | 51.5088 | 6.7018 | 2018-12-07T08:00:00UTC |       0.8 |
|      13670 | Duisburg-Baerl     | 51.5088 | 6.7018 | 2018-12-07T09:00:00UTC |       0.4 |
|      13670 | Duisburg-Baerl     | 51.5088 | 6.7018 | 2018-12-07T10:00:00UTC |       0.0 |
|        ... | ...                |     ... |    ... |                    ... |       ... |

Primary key of this example relation is (station_id, meas_time).

(Table generated with https://www.tablesgenerator.com/markdown_tables)

This relation was realized in an earlier activity in Pandas and saved as CSV which then was imported to QGIS and used in the TimeManager. This approach is quite brute force, because the data is highly redundent. Example: If the time series at a single station X contains 1000 values then the feature table will contain 1000 rows for that station, one feature with geometry information and measurement value for each timestamp of the time series. Neither station id, station name nor coordinates differ. The only difference are the timestamps and the associated measurement values. And all these 1000 features belonging to one station are plotted on top of each other. The TimeManager then selects from the feature table only those features which match a given timestamp. In this selection each station occurs only once. This view is a snapshot of the precipitation measurements at all stations included for a given time.

This activity demonstrates an alternative approach. Instead of writing the 1:N relationship to a CSV file (which can become very large!) and importing this to QGIS the join is performed in PostGIS. The two relations (tables) involved are the station info layer with geometry column (primary key: station_id) and the table with the precipitation time series (Promary key: station_id, timestamp). The join of these tables is then stored as a view. This is a kind of virtual table. When you select from the view it looks as it where a table (in fact, it is a relation), but the information is selected and joined from the underlying tables during execution time.

This stored view can be imported in QGIS as point vector layer as if it were a geodata table. It is noteworthy that this link is live connection. Any change of the data in PostGIS will be immediately updated in QGIS and vice versa!

## FTP Connection

* FTP: ftp://opendata.dwd.de/climate_environment/CDC/observations_germany/
* HTTPS: https://opendata.dwd.de/climate_environment/CDC/observations_germany/

### Connection Parameters

In [72]:
server = "opendata.dwd.de"
user   = "anonymous"
passwd = ""

### FTP Directory Definition and Station Description Filename Pattern

In [73]:
# The topic of interest.
topic_dir = "/hourly/precipitation/historical/"
#topic_dir = "/annual/kl/historical/"

# This is the search pattern common to ALL station description file names 
station_desc_pattern = "_Beschreibung_Stationen.txt"

# Below this directory tree node all climate data are stored.
ftp_climate_data_dir = "/climate_environment/CDC/observations_germany/climate/"
ftp_dir =  ftp_climate_data_dir + topic_dir

### Define and Create Local Directories

In [74]:
local_ftp_dir         = "../data/original/DWD/"      # Local directory to store local ftp data copies, the local data source or input data. 
local_ftp_station_dir = local_ftp_dir + topic_dir # Local directory where local station info is located
local_ftp_ts_dir      = local_ftp_dir + topic_dir # Local directory where time series downloaded from ftp are located

local_generated_dir   = "../data/generated/DWD/" # The generated of derived data in contrast to local_ftp_dir
local_station_dir     = local_generated_dir + topic_dir # Derived station data, i.e. the CSV file
local_ts_merged_dir   = local_generated_dir + topic_dir # Parallelly merged time series, wide data frame with one TS per column
local_ts_appended_dir = local_generated_dir + topic_dir # Serially appended time series, long data frame for QGIS TimeManager Plugin

In [75]:
print(local_ftp_dir)
print(local_ftp_station_dir)
print(local_ftp_ts_dir)
print()
print(local_generated_dir)
print(local_station_dir)
print(local_ts_merged_dir)
print(local_ts_appended_dir)

../data/original/DWD/
../data/original/DWD//hourly/precipitation/historical/
../data/original/DWD//hourly/precipitation/historical/

../data/generated/DWD/
../data/generated/DWD//hourly/precipitation/historical/
../data/generated/DWD//hourly/precipitation/historical/
../data/generated/DWD//hourly/precipitation/historical/

In [76]:
import os
os.makedirs(local_ftp_dir,exist_ok = True) # it does not complain if the dir already exists.
os.makedirs(local_ftp_station_dir,exist_ok = True)
os.makedirs(local_ftp_ts_dir,exist_ok = True)

os.makedirs(local_generated_dir,exist_ok = True)
os.makedirs(local_station_dir,exist_ok = True)
os.makedirs(local_ts_merged_dir,exist_ok = True)
os.makedirs(local_ts_appended_dir,exist_ok = True)

### FTP Connect

In [77]:
import ftplib
ftp = ftplib.FTP(server)
res = ftp.login(user=user, passwd = passwd)
print(res)

230 Login successful.

In [78]:
ret = ftp.cwd(".")

In [79]:
#ftp.quit()

### Generate Pandas Dataframe from FTP Directory Listing

In [80]:
from my_dwd import gen_df_from_ftp_dir_listing
df_ftpdir = gen_df_from_ftp_dir_listing(ftp, ftp_dir)
df_ftpdir.head(5)

,station_id,name,ext,size,type
0,-1,BESCHREIBUNG_obsgermany_climate_hourly_precipi...,.pdf,166317,-
1,-1,DESCRIPTION_obsgermany_climate_hourly_precipit...,.pdf,161348,-
2,-1,RR_Stundenwerte_Beschreibung_Stationen.txt,.txt,310685,-
3,3,stundenwerte_RR_00003_19950901_20110401_hist.zip,.zip,418905,-
4,20,stundenwerte_RR_00020_20040814_20211231_hist.zip,.zip,456263,-

## Download and Process the Station Description File

In [81]:
import pandas as pd

### Grab the txt File

In [82]:
from my_dwd import grabFile

In [83]:
station_fname = df_ftpdir[df_ftpdir['name'].str.contains(station_desc_pattern)]["name"].values[0]
print("Station description file name:\n%s" % (station_fname))

# ALternative
#station_fname2 = df_ftpdir[df_ftpdir["name"].str.match("^.*Beschreibung_Stationen.*txt$")]["name"].values[0]
#print(station_fname2)

Station description file name:
RR_Stundenwerte_Beschreibung_Stationen.txt

In [84]:
src = ftp_dir + station_fname
dest = local_ftp_station_dir + station_fname
print("grabFile(ftp, src, dest):")
print("FTP source: " + src)
print("Local dest:   " + dest)
grabFile(ftp, src, dest)

grabFile(ftp, src, dest):
FTP source: /climate_environment/CDC/observations_germany/climate//hourly/precipitation/historical/RR_Stundenwerte_Beschreibung_Stationen.txt
Local dest:   ../data/original/DWD//hourly/precipitation/historical/RR_Stundenwerte_Beschreibung_Stationen.txt

### Rename the Column Headers

In [85]:
from my_dwd import station_desc_txt_to_csv
basename = os.path.splitext(station_fname)[0]
df_stations = station_desc_txt_to_csv(local_ftp_station_dir + station_fname, local_station_dir + basename + ".csv")
df_stations.head()

,date_from,date_to,altitude,latitude,longitude,name,state
station_id,,,,,,,
3,1995-09-01,2011-04-01,202,50.7827,6.0941,Aachen,Nordrhein-Westfalen
20,2004-08-14,2022-09-20,432,48.9219,9.9129,Abtsgmünd-Untergröningen,Baden-Württemberg
29,2006-01-10,2022-09-20,260,49.7175,10.9101,Adelsdorf (Kläranlage),Bayern
44,2007-04-01,2022-09-20,44,52.9336,8.2370,Großenkneten,Niedersachsen
46,2006-01-03,2022-09-20,325,48.9450,12.4639,Aholfing,Bayern

### Select only Stations Located in NRW and being Operational

In [86]:
#station_ids_selected = df_stations[df_stations['state'].str.contains("Nordrhein")].index
#station_ids_selected

In [87]:
# Create variable with TRUE if state is Nordrhein-Westfalen

# isNRW = df_stations['state'] == "Nordrhein-Westfalen"
isNRW = df_stations['state'].str.contains("Nordrhein")

# Create variable with TRUE if date_to is latest date (indicates operation up to now)
isOperational = df_stations['date_to'] == df_stations.date_to.max() 

#isBefore1950 = df_stations['date_from'] < '1950'
#dfNRW = df_stations[isNRW & isOperational & isBefore1950]

# select on both conditions

dfNRW = df_stations[isNRW & isOperational]

#print("Number of stations in NRW: \n", dfNRW.count())
dfNRW

,date_from,date_to,altitude,latitude,longitude,name,state
station_id,,,,,,,
216,2004-10-01,2022-09-20,298,51.1143,7.8807,Attendorn-Neulisternohl,Nordrhein-Westfalen
389,2009-11-01,2022-09-20,436,51.0148,8.4318,"Berleburg, Bad-Arfeld",Nordrhein-Westfalen
390,2004-07-01,2022-09-20,610,50.9837,8.3683,"Berleburg, Bad-Stünzel",Nordrhein-Westfalen
554,1995-09-01,2022-09-20,23,51.8293,6.5365,Bocholt-Liedern (Wasserwerk),Nordrhein-Westfalen
603,1999-03-03,2022-09-20,147,50.7293,7.2040,Königswinter-Heiderhof,Nordrhein-Westfalen
...,...,...,...,...,...,...,...
19462,2022-06-06,2022-09-20,23,51.6093,6.3604,Sonsbeck,Nordrhein-Westfalen
19463,2022-06-06,2022-09-20,37,51.3326,6.4638,Tönisvorst-St. Tönis,Nordrhein-Westfalen
19464,2022-06-06,2022-09-20,34,51.4538,6.2817,Straelen/Niederrhein,Nordrhein-Westfalen
19467,2022-06-06,2022-09-20,24,51.6652,6.2581,Uedem/Niederrhein,Nordrhein-Westfalen
19469,2022-06-06,2022-09-20,29,51.4077,6.3243,Wachtendonk/Niederrhein,Nordrhein-Westfalen

## Geopandas - Create a Geo Data Frame

A Geopandas geo data frame is a Pandas data frame enriched with an additional geometry column. Each row in the data frame becomes a location information. Thus a geo-df contains geometry and attributes, i.e. full features. The geo-df is self-contained and complete. It can be easily saved in different vectore file formats, i.e. shapefile or geopackage.

### Issue: some `pyproj` installations with wrong `PROJ_LIB` environment variable value 

Problem:

```
C:\Users\me\Anaconda3\envs\geo\lib\site-packages\pyproj\__init__.py:89: UserWarning: pyproj unable to set database path.
  _pyproj_global_context_initialize()
[...]
CRSError: Invalid projection: epsg:4326: (Internal Proj Error: proj_create: no database context specified)
```


This problem seems to occur on Windows when using the OSGeo4W installer. The environment variable must point to a user specific directory and according to the activated conda environment, e.g. `PROJ_LIB=C:\Users\<username>\Anaconda3\envs\geo\Library\share\proj`

In [88]:
# Correct wrong environment variable value occurring when using OSGeo4W installer

import os
#proj_lib = os.environ['proj_lib']
#print(proj_lib)
#-> C:\OSGeo4W64\share\proj (wrong!)

conda_prefix = os.environ['conda_prefix']
print(f"CONDA_PREFIX: {conda_prefix:s}")
os.environ['proj_lib'] = conda_prefix + r"\Library\share\proj"
proj_lib = os.environ['proj_lib']
print(f"New env var value: \nPROJ_LIB={proj_lib:s}")
#-> C:\Users\me\Anaconda3\envs\geo\Library\share\proj (correct!)

# Now pyproj should work
import pyproj
print(f"pyproj.datadir.get_data_dir() -> {pyproj.datadir.get_data_dir():s}") 

# Now geopandas (it uses pyproj) should work:
# import geopandas as gpd

CONDA_PREFIX: C:\Users\HP\anaconda3
New env var value:
PROJ_LIB=C:\Users\HP\anaconda3\Library\share\proj
pyproj.datadir.get_data_dir() -> C:\Users\HP\anaconda3\Library\share\proj

In [89]:
import pandas as pd
from geopandas import GeoDataFrame
from shapely.geometry import Point
import fiona
from pyproj import CRS

#df = pd.read_csv('data.csv')
df = dfNRW

geometry = [Point(xy) for xy in zip(df.longitude, df.latitude)]
crs = CRS("epsg:4326") #http://www.spatialreference.org/ref/epsg/2263/
stations_gdf = GeoDataFrame(df, crs=crs, geometry=geometry)

stations_gdf.head(5)

,date_from,date_to,altitude,latitude,longitude,name,state,geometry
station_id,,,,,,,,
216,2004-10-01,2022-09-20,298,51.1143,7.8807,Attendorn-Neulisternohl,Nordrhein-Westfalen,POINT (7.88070 51.11430)
389,2009-11-01,2022-09-20,436,51.0148,8.4318,"Berleburg, Bad-Arfeld",Nordrhein-Westfalen,POINT (8.43180 51.01480)
390,2004-07-01,2022-09-20,610,50.9837,8.3683,"Berleburg, Bad-Stünzel",Nordrhein-Westfalen,POINT (8.36830 50.98370)
554,1995-09-01,2022-09-20,23,51.8293,6.5365,Bocholt-Liedern (Wasserwerk),Nordrhein-Westfalen,POINT (6.53650 51.82930)
603,1999-03-03,2022-09-20,147,50.7293,7.2040,Königswinter-Heiderhof,Nordrhein-Westfalen,POINT (7.20400 50.72930)

## Connect to the PostGIS database

In [90]:
# PostgreSQL connection parameters -> create connection string (URL) 

param_dic = {
  "user" : "geo_master",
  "pw"   : "xxxxxx",
  "host" : "localhost",
  "db"   : "geo"
}

# https://www.w3schools.com/python/ref_string_format.asp
template = "postgresql://{user}:{pw}@{host}:5432/{db}"

db_connection_url = template.format(**param_dic)
print("Connection URL: ", db_connection_url)

Connection URL:  postgresql://geo_master:xxxxxx@localhost:5432/geo

## Write Geopandas Data Frame directly into PostGIS Database

* https://geopandas.readthedocs.io/en/latest/docs/reference/api/geopandas.GeoDataFrame.to_postgis.html
* https://docs.sqlalchemy.org/en/13/core/types.html
* https://www.postgresqltutorial.com/postgresql-primary-key/
* https://www.postgresql.org/docs/13/sql-altertable.html

In [91]:
# https://geopandas.readthedocs.io/en/latest/docs/reference/api/geopandas.GeoDataFrame.to_postgis.html
# https://docs.sqlalchemy.org/en/13/core/types.html

from sqlalchemy import create_engine
from sqlalchemy import Numeric, Float, Date, REAL

engine = create_engine(db_connection_url)

dtypes = {"station_id": Numeric (6,0), "altitude" : REAL, "date_from" : Date, "date_to": Date, "longitude" : REAL, "latitude" : REAL}

stations_gdf.to_postgis(name="stations", schema="dwd", if_exists = "replace", index = "station_id", index_label=True, con=engine, dtype = dtypes)

engine.execute('alter table dwd.stations add primary key (station_id)')

InternalError: (psycopg2.errors.DependentObjectsStillExist) cannot drop table dwd.stations because other objects depend on it
DETAIL:  view dwd.v_stations_prec depends on table dwd.stations
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL:
DROP TABLE dwd.stations]
(Background on this error at: https://sqlalche.me/e/14/2j85)

## Download and Process the Time Series Zip Archives

Extract the product file (txt file containing several time series for different variables) from an archive, extract the relevant time series from the product file, limit the time series interval if needed and append it to a dataframe. Finally insert the dataframe to the PostGIS database.

### Dataframe with TS Zip Files from FTP Directory Listing

In [92]:
#df_ftpdir["ext"]==".zip"
df_zips = df_ftpdir[df_ftpdir["ext"]==".zip"]
df_zips.set_index("station_id", inplace = True)
df_zips.head(5)

,name,ext,size,type
station_id,,,,
3,stundenwerte_RR_00003_19950901_20110401_hist.zip,.zip,418905,-
20,stundenwerte_RR_00020_20040814_20211231_hist.zip,.zip,456263,-
44,stundenwerte_RR_00044_20070401_20211231_hist.zip,.zip,378416,-
53,stundenwerte_RR_00053_20051001_20211231_hist.zip,.zip,409591,-
71,stundenwerte_RR_00071_20041022_20200101_hist.zip,.zip,402406,-

### Download TS Data from FTP Server

**Problem:** Not all stations listed in the station description file are associated with a time series (zip file)! The stations in the description file and the set of stations whoch are TS data provided for (zip files) do not match perfectly.

In [93]:
# Add the names of the actually downloaded zip files to this list. 
local_zip_list = []

# SHORTENED FOR TESTING!
#station_ids_selected = list(dfNRW.index)[:2]
station_ids_selected = list(dfNRW.index)

for station_id in station_ids_selected:
    try:
        fname = df_zips["name"][station_id]
        print(fname)
        grabFile(ftp, ftp_dir + fname, local_ftp_ts_dir + fname)
        local_zip_list.append(fname)
    except:
        print("WARNING: TS file for key %d not found in FTP directory." % station_id)

stundenwerte_RR_00216_20041001_20211231_hist.zip
stundenwerte_RR_00389_20091101_20211231_hist.zip
stundenwerte_RR_00390_20040701_20211231_hist.zip
stundenwerte_RR_00554_19950901_20211231_hist.zip
stundenwerte_RR_00603_19990303_20211231_hist.zip
stundenwerte_RR_00613_20041101_20211231_hist.zip
stundenwerte_RR_00617_20040601_20211231_hist.zip
stundenwerte_RR_00644_20050101_20211231_hist.zip
stundenwerte_RR_00796_20041101_20211231_hist.zip
stundenwerte_RR_00871_20050801_20211231_hist.zip
stundenwerte_RR_00902_20061001_20211231_hist.zip
stundenwerte_RR_00934_20041001_20211231_hist.zip
stundenwerte_RR_00989_20050201_20211231_hist.zip
stundenwerte_RR_01024_20060801_20211231_hist.zip
stundenwerte_RR_01046_20041001_20211231_hist.zip
stundenwerte_RR_01078_19950901_20211231_hist.zip
stundenwerte_RR_01241_20061201_20211231_hist.zip
stundenwerte_RR_01246_20150801_20211231_hist.zip
stundenwerte_RR_01300_20040601_20211231_hist.zip
stundenwerte_RR_01303_19950901_20211231_hist.zip
stundenwerte_RR_01327_20040801_20211231_hist.zip
stundenwerte_RR_01590_20030701_20211231_hist.zip
stundenwerte_RR_01595_20121001_20211231_hist.zip
stundenwerte_RR_01766_19950901_20211231_hist.zip
stundenwerte_RR_02027_20060601_20211231_hist.zip
stundenwerte_RR_02110_20030105_20211231_hist.zip
stundenwerte_RR_02254_20050601_20211231_hist.zip
stundenwerte_RR_02473_20041201_20211231_hist.zip
stundenwerte_RR_02483_19951012_20211231_hist.zip
stundenwerte_RR_02497_20040801_20211231_hist.zip
stundenwerte_RR_02629_20040701_20211231_hist.zip
stundenwerte_RR_02667_19950901_20211231_hist.zip
stundenwerte_RR_02810_20061201_20211231_hist.zip
stundenwerte_RR_02947_20061001_20211231_hist.zip
stundenwerte_RR_02968_20081201_20211231_hist.zip
stundenwerte_RR_02999_20040701_20211231_hist.zip
stundenwerte_RR_03028_19950901_20211231_hist.zip
stundenwerte_RR_03031_20040701_20211231_hist.zip
stundenwerte_RR_03081_20071201_20211231_hist.zip
stundenwerte_RR_03098_19950901_20211231_hist.zip
stundenwerte_RR_03215_20070601_20211231_hist.zip
stundenwerte_RR_03321_20050701_20211231_hist.zip
WARNING: TS file for key 3328 not found in FTP directory.
stundenwerte_RR_03339_20060901_20211231_hist.zip
stundenwerte_RR_03499_20060701_20211231_hist.zip
stundenwerte_RR_03540_20041101_20211231_hist.zip
stundenwerte_RR_03591_20040601_20211231_hist.zip
stundenwerte_RR_03795_20041201_20211231_hist.zip
stundenwerte_RR_03913_20040701_20211231_hist.zip
stundenwerte_RR_04063_20030701_20211231_hist.zip
stundenwerte_RR_04127_20050101_20211231_hist.zip
stundenwerte_RR_04150_20051201_20211231_hist.zip
stundenwerte_RR_04313_20040801_20211231_hist.zip
stundenwerte_RR_04368_20041001_20211231_hist.zip
stundenwerte_RR_04371_19950901_20211231_hist.zip
stundenwerte_RR_04400_20040801_20211231_hist.zip
stundenwerte_RR_04488_20060801_20211231_hist.zip
stundenwerte_RR_04741_20041201_20211231_hist.zip
stundenwerte_RR_04849_20050601_20211231_hist.zip
stundenwerte_RR_05064_20041201_20211231_hist.zip
stundenwerte_RR_05347_19950901_20211231_hist.zip
stundenwerte_RR_05360_20070701_20211231_hist.zip
stundenwerte_RR_05480_20030910_20211231_hist.zip
stundenwerte_RR_05513_20050901_20211231_hist.zip
stundenwerte_RR_05619_20041201_20211231_hist.zip
stundenwerte_RR_05699_20041101_20211231_hist.zip
stundenwerte_RR_05717_20060901_20211231_hist.zip
stundenwerte_RR_05733_20050501_20211231_hist.zip
WARNING: TS file for key 6041 not found in FTP directory.
WARNING: TS file for key 6042 not found in FTP directory.
WARNING: TS file for key 6043 not found in FTP directory.
WARNING: TS file for key 6044 not found in FTP directory.
WARNING: TS file for key 6045 not found in FTP directory.
WARNING: TS file for key 6046 not found in FTP directory.
WARNING: TS file for key 6047 not found in FTP directory.
WARNING: TS file for key 6048 not found in FTP directory.
WARNING: TS file for key 6050 not found in FTP directory.
WARNING: TS file for key 6051 not found in FTP directory.
WARNING: TS file for key 6052 not found in FTP directory.
WARNING: TS file for key 6053 not found in FTP directory.
WARNING: TS file for key 6054 not found in FTP directory.
WARNING: TS file for key 6055 not found in FTP directory.
WARNING: TS file for key 6057 not found in FTP directory.
WARNING: TS file for key 6058 not found in FTP directory.
WARNING: TS file for key 6059 not found in FTP directory.
WARNING: TS file for key 6060 not found in FTP directory.
WARNING: TS file for key 6061 not found in FTP directory.
WARNING: TS file for key 6064 not found in FTP directory.
WARNING: TS file for key 6067 not found in FTP directory.
stundenwerte_RR_06197_20001013_20211231_hist.zip
stundenwerte_RR_06264_20040601_20211231_hist.zip
stundenwerte_RR_06313_20041201_20211231_hist.zip
stundenwerte_RR_06337_20040801_20211231_hist.zip
stundenwerte_RR_07106_20060901_20211231_hist.zip
stundenwerte_RR_07330_20051001_20211231_hist.zip
stundenwerte_RR_07344_20060601_20211231_hist.zip
stundenwerte_RR_07374_20060301_20211231_hist.zip
stundenwerte_RR_07378_20060701_20211231_hist.zip
stundenwerte_RR_13669_20070901_20211231_hist.zip
stundenwerte_RR_13670_20070601_20211231_hist.zip
stundenwerte_RR_13671_20071201_20211231_hist.zip
stundenwerte_RR_13696_20071201_20211231_hist.zip
stundenwerte_RR_13700_20080501_20211231_hist.zip
stundenwerte_RR_13713_20071101_20211231_hist.zip
WARNING: TS file for key 14096 not found in FTP directory.
WARNING: TS file for key 14142 not found in FTP directory.
WARNING: TS file for key 14143 not found in FTP directory.
WARNING: TS file for key 14144 not found in FTP directory.
WARNING: TS file for key 14145 not found in FTP directory.
WARNING: TS file for key 14146 not found in FTP directory.
WARNING: TS file for key 14147 not found in FTP directory.
WARNING: TS file for key 14148 not found in FTP directory.
WARNING: TS file for key 14149 not found in FTP directory.
WARNING: TS file for key 14150 not found in FTP directory.
WARNING: TS file for key 14151 not found in FTP directory.
WARNING: TS file for key 14152 not found in FTP directory.
WARNING: TS file for key 14153 not found in FTP directory.
WARNING: TS file for key 14154 not found in FTP directory.
WARNING: TS file for key 14155 not found in FTP directory.
WARNING: TS file for key 14156 not found in FTP directory.
WARNING: TS file for key 14158 not found in FTP directory.
WARNING: TS file for key 14159 not found in FTP directory.
WARNING: TS file for key 14164 not found in FTP directory.
WARNING: TS file for key 14165 not found in FTP directory.
WARNING: TS file for key 14166 not found in FTP directory.
WARNING: TS file for key 14167 not found in FTP directory.
WARNING: TS file for key 14168 not found in FTP directory.
WARNING: TS file for key 14169 not found in FTP directory.
WARNING: TS file for key 14170 not found in FTP directory.
WARNING: TS file for key 14171 not found in FTP directory.
WARNING: TS file for key 14172 not found in FTP directory.
WARNING: TS file for key 14173 not found in FTP directory.
WARNING: TS file for key 14174 not found in FTP directory.
WARNING: TS file for key 14175 not found in FTP directory.
WARNING: TS file for key 14176 not found in FTP directory.
WARNING: TS file for key 14177 not found in FTP directory.
WARNING: TS file for key 14178 not found in FTP directory.
WARNING: TS file for key 14179 not found in FTP directory.
WARNING: TS file for key 14180 not found in FTP directory.
WARNING: TS file for key 14181 not found in FTP directory.
WARNING: TS file for key 14182 not found in FTP directory.
WARNING: TS file for key 14183 not found in FTP directory.
WARNING: TS file for key 14184 not found in FTP directory.
WARNING: TS file for key 14185 not found in FTP directory.
WARNING: TS file for key 14186 not found in FTP directory.
stundenwerte_RR_15000_20110401_20211231_hist.zip
WARNING: TS file for key 19451 not found in FTP directory.
WARNING: TS file for key 19452 not found in FTP directory.
WARNING: TS file for key 19454 not found in FTP directory.
WARNING: TS file for key 19455 not found in FTP directory.
WARNING: TS file for key 19456 not found in FTP directory.
WARNING: TS file for key 19457 not found in FTP directory.
WARNING: TS file for key 19459 not found in FTP directory.
WARNING: TS file for key 19460 not found in FTP directory.
WARNING: TS file for key 19461 not found in FTP directory.
WARNING: TS file for key 19462 not found in FTP directory.
WARNING: TS file for key 19463 not found in FTP directory.
WARNING: TS file for key 19464 not found in FTP directory.
WARNING: TS file for key 19467 not found in FTP directory.
WARNING: TS file for key 19469 not found in FTP directory.

In [ ]:
#local_zip_list

### Write the time series to the database

In [ ]:
from zipfile import ZipFile
from my_dwd import prec_ts_to_df

**The following code is not necessary! It just produces a large CSV file in your folder for testing!**

In [ ]:
# CODE EXECUTION DEACTIVATED! Change it to True if you want to run it.
#if True:
#if False:
    # Produce CSV with sequentially appended time series, ca. 120 MB!
#if True:
csvfname = "prec_ts_appended_3_cols.csv"

first = True

for elt in local_zip_list:
        ffname = local_ftp_ts_dir + elt
        print("Zip archive: " + ffname)
        with ZipFile(ffname) as myzip:
            # read the time series data from the file starting with "produkt"
            prodfilename = [elt for elt in myzip.namelist() if elt.split("_")[0]=="produkt"][0] 
            print("Extract product file: %s" % prodfilename)
            print()
            with myzip.open(prodfilename) as myfile:
                dftmp = prec_ts_to_df(myfile)[["stations_id","r1"]]
                # df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)
                dftmp.rename(columns={'stations_id': 'station_id', 'r1': 'val', 'mess_datum': 'ts'}, inplace = True)
                dftmp.rename_axis('ts', inplace = True)
                # dftmp.to_csv(f, header=f.tell()==0)
                if (first):
                    first = False
                    dftmp.to_csv(csvfname, mode = "w", header = True)
                else:
                    dftmp.to_csv(csvfname, mode = "a", header = False)

In [ ]:
dftmp

#### The database writer (SQL)! ####

In [ ]:

first = True

dtypes = {"station_id": Numeric(6,0), "val" : REAL}

#for elt in local_zip_list[0:1]:
for elt in local_zip_list:
    ffname = local_ftp_ts_dir + elt
    #print("Zip archive: " + ffname)
    with ZipFile(ffname) as myzip:
        # read the time series data from the file starting with "produkt"
        prodfilename = [elt for elt in myzip.namelist() if elt.split("_")[0]=="produkt"][0] 
        print("Extract product file: %s" % prodfilename)
        # print()
        with myzip.open(prodfilename) as myfile:
            dftmp = prec_ts_to_df(myfile)[["stations_id","r1"]]
            # df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)
            dftmp.rename(columns={'stations_id': 'station_id', 'r1': 'val', 'mess_datum': 'ts'}, inplace = True)
            dftmp.rename_axis('ts', inplace = True)
            # dftmp.to_csv(f, header=f.tell()==0)
            if (first):
                first = False
                # dftmp.to_csv(csvfname, mode = "w", header = False)
                dftmp.to_sql(name="prec", schema="dwd", if_exists = "replace", index = ["ts"], index_label=True, con=engine, dtype=dtypes)
            else:
                # dftmp.to_csv(csvfname, mode = "a", header = False)
                dftmp.to_sql(name="prec", schema="dwd", if_exists = "append",  index = ["ts"], index_label=True, con=engine, dtype=dtypes)

# After insert completed: ceate index
print("create index")
engine.execute("ALTER TABLE dwd.prec ADD PRIMARY KEY (ts, station_id)")

#### Create View joining static station info with the time series

In [ ]:
engine.execute( \
"""
CREATE OR REPLACE VIEW dwd.v_stations_prec 
as (select t1.station_id, t2.ts, t2.val, t1.geometry 
from dwd.stations t1, dwd.prec t2 
where t2.ts between '2021-07-14T00:00:00UTC' and '2021-07-15T00:00:00UTC'
and t1.station_id = t2.station_id)
""" )

#### Some checks ...

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://geo_master:xxxxxx@localhost/geo

In [ ]:
%sql select max(ts) from dwd.v_stations_prec 
#select * from dwd.v_stations_prec where ts between '2022-02-15 23:00:00+01:00' and '2022-02-16 00:00:00+01:00'

In [ ]:
%sql select count(*) from dwd.v_stations_prec

#### Which Python modules are loaded?

In [ ]:
import types
def imports():
    for name, val in globals().items():
        if isinstance(val, types.ModuleType):
            yield val.__name__
list(imports())